<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>udacity-p4-portfolio-performance-optimization</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 id="title">udacity-p4-portfolio-performance-optimization</h1>
<p>Optimized website for maximum responsiveness and 60fps.</p>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>